<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>






    <script src="https://use.fontawesome.com/98fb124257.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">


    <link href="~/Content/homepage.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>


    <div class="backgroundonly"> text  </div>

    <div class="container-fluid">

        <div class="onlylogo ">
            <a class="navbar-brand" href="#"> <img src="~/Images/FinalLogo.png" alt="Alternate Text" /> </a>

            <div class="organisationname">
                <P class="WCB"> <span class="big-font">W</span>A      <span class="big-font">C</span>LASSICAL <span class="big-font">B</span>ALLET    </P>
                <P1 class="TAI">   <span class="big-font">T</span>EACHER'S <span class="big-font">A</span>SSOCIATION <span class="big-font">I</span>NC.   </P1>
            </div>
        </div>


    </div>

    <hr class="blueline" />



    <section id="homenavbar">


        <div class="container-fluid">

            <nav class="navbar navbar-expand-lg navbar-light mynavbar">

                <button class="navbar-toggler menu-button" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/home/index">Home</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/home/about"> About</a>
                        </li>  


                        <li class="nav-item">
                            <a class="nav-link" href="/home/about" active> Contact</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/Event/Create" active> Events/Booking </a>
                        </li>






                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" active>
                                Become a Member
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Membership Types </a></li>
                                <li><a class="dropdown-item" href="#">Why to Become a Member!</a></li>
                                <li><a class="dropdown-item" href="/AllMembers/Create"> Register to Become a Member </a></li>


                            </ul>
                        </li>

                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </nav>
        </div>
    </section>


    <div class="backgroundonly" style="border-radius:20px; height:12px;">   </div>


    <div class="">
        @RenderBody()
        <hr />

    </div>


    <section id="footer">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-4 footer-p">
                    <h4> Phone Support </h4>
                    <p> 24 hours </p>
                    <p1> +61 405 326 790 </p1>
                </div>

                <div class="col-lg-4 footer-p">
                    <h4> Follow Us </h4>
                    <p> Social medial channel </p>
                    <div class="social-icon">
                        <a href="https://www.facebook.com/yonungbmud" target="_blank"> <i class="fa fa-facebook-square fa-3x  social-media"></i> </a>
                        <a href="https://www.instagram.com/" target="_blank"> <i class="fa fa-instagram fa-3x social-media"></i> </a>
                        <a href="https://www.linkedin.com/feed/" target="_blank"> <i class="fa fa-twitter fa-3x social-media"></i> </a>
                    </div>
                </div>


                <div class="col-lg-4 footer-p">
                    <h4>Our Newsletter</h4>
                    <p> Sign up for details </p>
                    <input type="text" name="" value="" placeholder="Email..."> <input type="submit" class="btn btn-warning subscribe-btn" name="button" value="Subscribe">
                </div>
            </div>

            <p class="copyright">
                &copy; Copyright Reserved to Western Australia Classical Ballet Teacher's Association' &reg; You are accessing this site at @DateTime.Now<br>
                <span class="designer"> Designed With ❤️ by <a href="https://www.linkedin.com/in/liladhar-sapkota-6342b518a/"> Liladhar </a> </span>
            </p>


        </div>
    </section>













































    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
