@model DemoWebsiteforCBTA.Models.Subscription

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Subscription</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Member.MFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.MFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MembershipTypes.Names)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MembershipTypes.Names)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubscriptionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubscriptionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JoinedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JoinedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CanceldDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CanceldDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Has_paid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Has_paid)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MembershipTypesId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
